<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <br>
    <br>
    <br>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <br>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Nom" formControlName="nom">
      </div>
      <br>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Prix" formControlName="prix">
      </div>
      <br>
      <div class="form-group input-group-lg">
        <input class="form-control" placeholder="Photo" formControlName="photo">
      </div>
      <br>
      <div class="form-group input-group-lg">
        <select formControlName="ingredients" multiple>
          <option value="{{ing.id}}" *ngFor="let ing of ingredients">{{ing.nom}}</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-danger btn-block btn-lg">Ajouter</button>
      </div>
    </form>
  </div>
</ion-content>