 .pizzaName {
    font-family: "Avenir Next";
    font-size: 40px;
    color: #2d2d2d;
    text-align: center;
  }
  .pizzaSection {
    font-family: "Avenir Next";
    font-size: 20px;
    color: #2d2d2d;
    padding-left: 5%;
  }
  .pizzaInfo {
    padding-left: 5%;

  }
   .image {
   	width: 400px;
   	height: 400px;
   }